body {
    background: #24263f;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1333.33px) {
    #root {
        padding-left: calc((100vw - 800px)/2);
    }
}

header {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 2%;
    margin-bottom: 55px;
}


#logo {
    position: relative;
    width: 5px;
    height: 2px;
}

#medmilk {
    position: absolute;
    top: -25px;
    left: 120px;
    width: 100px;
}

#title {
    color: #F5F5FB;
    font: bold 30px Segoe UI;
    text-align: center;
}

#welcome-container {
    position: relative;
}

#welcome {
    color: #F5F5FB;
    position: absolute;
    top: -30px;
    right: 120px;
}


#root {
    padding-left: 9%;
    padding-top: 5%;
    width: 1600px;
    height: 890px;
    position: relative;
}

.hidden {
    display: none;
}

#parameters {
    width: 850px;
    position: relative;
    text-align: center;
    left: 5%;
    z-index: 1000;
}

footer {
    padding: 20px 0;
    background-color: #1a1c37;
    color: #eaeef1;
    bottom: 0px;
    margin-top: auto;
    text-align: center;

}