#container {
  position: absolute;
  width: 1500px;
  height: 845px;
}

#loading {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}


#parameter {

  width: 850px;
  display: inline-block;
  justify-content: space-around;
  position: absolute;
  background: #f7f4f4;
  border: #fdfdfd solid;
  border-radius: 20px;
  padding: 10px;
}

input {
  margin: 0 25px;
  border-radius: 20px;
  border: #1a1c37 solid;
  height: 30px;
  width: 120px;
  text-align: center;
  size: 20;
}

iframe {
  border: none;
}

label {
  font: bold;
  color: #1a1c37;
}