#container {

  margin-top: 30px;
  width: 1500px;
  height: 845px;
  position: relative;
}

#loading {
  width: 50px;
  height: 50px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 55%;
  transform: translate(-50%, -50%);
}


#parameters {
  width: 850px;
  position: relative;
  text-align: center;
  left: 20%;
}

#parameter {

  width: 850px;
  display: inline-block;
  justify-content: space-around;
  background: #f7f4f4;
  border: #fdfdfd solid;
  border-radius: 20px;
  padding: 10px;
}

input {
  padding: 0 10px;
  margin: 0 20px;
  border-radius: 20px;
  border: #1a1c37 solid;
  height: 30px;
  width: 110px;
}

iframe {
  border: none;
}

label {
  font: bold;
  color: #1a1c37;
  margin-left: 25px;
}